.venv/
backend/.venv/
backend/CamphorEOS.db
frontend/node_modules/
frontend/dist/
__pycache__/
.pytest_cache/
/data
/backend/tests/
.claude/
docs/
!docs/
docs/*
!docs/camphoros-intro.html
dist_package/
build/
backend/dist/
dist/
